<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Seven2Seven {{title}}</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/logo.png" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="/logo.png" alt="logo" class="logo">
            <p>Petition for free bike transport on BVG from 7pm to 7am</p>
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- <img id="nav-icon" src="/hamburgermenu.png" alt="nav"> -->
        </header>
        <nav>
              <a href="/petition">Signature</a>
              <a href="/signers">Supporters</a>
              <a href="/profile/edit">Profile</a>
              <a href="/logout">Logout</a>
        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
                <p id="equation"><img src="/bike.png" alt="bike"> + <img src="/tram.png" alt="bike"> = <img src="/heart.png" alt="bike"></p>
            <p>&copy; 2018 One less car e.V.</p>
        </footer>
    </body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/nav.js" charset="utf-8"></script>
