<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="/logo.png" alt="logo" class="logo">
            <span>Petition for free bike transport on BVG from 7pm to 7am</span>
            <div></div>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <div>
                <p>&copy; 2018 One less car e.V.</p>
                <img src="/bike.png" alt="bike">
            </div>
            <a href="/logout" id="logout">Log out</a>
        </footer>
    </body>
</html>
