<link rel="stylesheet" href="/styles2.css">

<div class="formbox">
    <h1>Support us</h1>
    <span>Let's make bike riding in Berlin more flexible and fun by using the low hours on public transport to take our bikes for free.</span>
    {{#if err}}
        <span class="error">{{err}}</span>
    {{/if}}
    <form class="" method="post">
        <input type="text" name="email" placeholder="Email Address" autofocus>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign in</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <span>Don't have an account yet? <a href="/register">Sign up.</a></span>
</div>
