<p id="demands">Ever got surprised by rain on your way home? Sick of dangerously cycling in the dark while empty busses & trams are passing by? Got a ticket but don't want to pay extra for your bike?<br>Join us in our demand to make cycling in Berlin even better for everyone!</p>
<br>

{{#if err}}
    <span class="error">something went wrong, please try again</span>
{{/if}}

<canvas id="draw-canvas" width="600" height="100"></canvas>
<br>
<div class="align-buttons">
    <form class="" method="post">
        <input type="hidden" name="sig" value="">
        <button type="submit">Submit signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a href="/petition" class="fake-button">Clear signature</a>
</div>

<br>

<div id="bike-animation">
    <div id="loop" class="center"></div>
    <div id="bike-wrapper" class="center">
      <div id="bike" class="centerBike"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" charset="utf-8"></script>
