{{#if err}}
    <span class="error">something went wrong, please try again</span>
{{/if}}

<form class="" method="post">
    <input type="text" name="first" placeholder="First Name">
    <input type="text" name="last" placeholder="Last Name">
    <input type="hidden" name="sig" value="">
    <button type="submit">Submit</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

<canvas id="draw-canvas" width="600" height="100"></canvas>

<script src="/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/script.js" charset="utf-8"></script>
