<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{{#if err}}
    <span class="error">something went wrong, please try again</span>
{{/if}}

<canvas id="draw-canvas" width="600" height="100"></canvas>
<br>
<div class="align-buttons">
    <form class="" method="post">
        <input type="hidden" name="sig" value="">
        <button class="center-button" type="submit">Submit signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a href="/petition" class="fake-button">Clear signature</a>
</div>

<script src="/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/script.js" charset="utf-8"></script>
