<h1>Thanks for supporting us!</h1>
<iframe src="https://giphy.com/embed/MjiO4GHq4LpGE" width="600" height="340" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<br>
<img src="{{base64str}}" alt="signature" id="signature">
<br>
<div class="align-buttons">
    <a href="/signers" class="fake-button">{{text}}</a>
    <form action="/signature" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>Delete signature</button>
    </form>
</div>
