body {
    background-color: #0B4D42;
    font-family: 'Montserrat', sans-serif;
    color: #EDFD8D;
}

h1 {
    font-weight: bold;
}

.error {
    font-weight: bold;
    font-size: 20px;
}

input, button {
    background-color: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid #EDFD8D;
    outline: none;
    padding: 10px 0;
    margin: 20px;
    font-family: inherit;
    font-size: 16px;
    display: block;
}

button {
    border: 2px solid #EDFD8D;
    padding: 10px 30px;
    cursor: pointer;
}

canvas {
    display: block;
    background-color: #EDFD8D;
    margin: 10px;
    margin-top: 30px;
}

a {
    color: #EDFD8D;
    text-decoration: none;
}

#signature {
    width: 600px;
    height: 100px;
    background-color: #EDFD8D;
    display: block;
    margin: 10px;
}
